@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body{
  font-family: 'Poppins', sans-serif;
  
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  background-color:black;
  border-radius: 25px;
  
/* header - Top Name - Social Links - Login Button */  
}

.header__container{
  width: 100vw;
  height: 50px;
  position: relative;
  display: grid;
}
.nav{
  --padding-container: 0; 
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title{
  font-weight: 550;
  padding: 50px;
  color: white;
}
.nav__link{
  margin-left:auto;
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns:max-content;
  gap: 1em;
}
.nav__items{
  list-style: none;
}

.nav__links{
  text-decoration: none;
}

.nav__menu{
  margin-left:auto;
  cursor: pointer;
  display: none;
}
.nav__img{
  display: block;
  width: 50px;
  align-items: center;
}
 
.nav__close{
  display: var(--show, none)
}

.nav__loginbutton{
  border: none;
  padding: 3px 10px;
  border-radius: 25px;
  cursor: pointer;
}

.main{
  margin-top:auto;
  max-width: 100%;
  height: auto;
  padding: 5px;
}
/* Section1-> Profile Pic - Background - Name - Introduction */

.wallpaPertop__comp{
  padding:5px;
  text-align: center;
}

.top__img__wallpaper{
  max-width: 100%;
  width: auto;
  height: auto;
  border-radius: 30px; 
  vertical-align: bottom;

}

.top__img__edit{
  width: 25px;
  cursor: pointer;
}

.top__pic_name_intro{
  margin: 5;
  width: auto;
  height: auto;
  padding: 10px;
  align-items: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1px;
  border: 2px solid black;
  border-radius: 15px;
}

.top__img__profile{
  width: 80%;
  min-width: 150px;
  max-width: 200px;
  border-radius: 50%;
  padding: 5px 5px;
  position: relative;
}

.name__comp{
  align-items: center;
  vertical-align: middle;
  padding: 10px;
}
.top__name{
  padding: 0 25px;
  text-size-adjust: auto;
  max-width: 10ch;
  text-overflow: ellipsis;
  padding: 10px;
}

.introduction__comp{
  text-align: left;
  border:5px solid red;
  padding: 10px;

}
.top__introduction{
  font-size : 2vw;
  
  text-size-adjust: auto;
  
  padding: 5px;

}

/* Section2-> Job Experiences */




/*sections config*/
.section1{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 5px;
  align-items: center;
  border:5px solid yellow;
 
}
.section2{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 5px;
  align-items: center;
  border:5px solid yellow;
}
.section3{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 5px;
  align-items: center;
  border:5px solid red;
}
.section4{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 5px;
  align-items: center;
  border:5px solid blue;
}
.section5{
  margin: 0 auto;
  width: auto;
  height: auto;
  padding: 5px;
  align-items: center;
  border:5px solid green;
}