@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,300&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49;
}

body{
  font-family: 'Poppins', sans-serif;
  
}
.container{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  padding: var(--padding-container);
  background-color:black;
  border-radius: 25px;
  
/* header - Top Name - Social Links - Login Button */  
}

.header__container{
  width: 100vw;
  height: 50px;
  position: relative;
  display: grid;
}
.nav{
  --padding-container: 0; 
  height: 100%;
  display: flex;
  align-items: center;
}

.nav__title{
  font-weight: 550;
  padding: 50px;
  color: white;
}
.nav__link{
  margin-left:auto;
  padding: 20px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns:max-content;
  gap: 1em;
}
.nav__items{
  list-style: none;
}

.nav__links{
  text-decoration: none;
}

.nav__menu{
  margin-left:auto;
  cursor: pointer;
  display: none;
}
.nav__img{
  display: block;
  width: 50px;
  align-items: center;
}
 
.nav__close{
  display: var(--show, none)
}

.nav__loginbutton{
  border: none;
  padding: 3px 10px;
  border-radius: 25px;
  cursor: pointer;
}

.main{
  margin-top:auto;
  max-width: 100%;
  height: auto;
}
/* Top Main-> Profile Pic - Background - Name - Introduction */

.top__img__edit{
  width: 25px;
  cursor: pointer;
}

.top__main{
  margin: 0 auto;
  width: 95vw;
  height: 30vh;
  padding: auto auto;
  align-items: center;
  
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 1fr;
  grid-template-rows: auto;
  grid-column-gap: 1px;
  grid-row-gap: 0px;

  border: 2px solid black;
  border-radius: 15px;
}

.top__img__wallpaper{
  max-width: 100%;
  height: auto;
  border-radius: 30px; 
  margin-left: auto;
  margin-right: auto;
  background-size: cover;
}

.top__img__profile{
  width: 80%;
  max-width: 200px;
  border-radius: 50%;
  padding: 5px 5px;
  position: relative;

}

.name__comp{
  align-items: center;
  vertical-align: middle;
}
.top__name{
  padding: 0 25px;
  text-size-adjust: auto;
  max-width: 10ch;
  text-overflow: ellipsis;
}

.introduction__comp{
  /*
  margin-left: auto;
  margin-right: auto;
  */
}
.top__introduction{
  font-size : 17px;
  text-size-adjust: 80%;
  
}


/**Middle Main***/
.middle__main{
  margin: 0 auto;
  width: 95vw;
  height: 40vh;
  align-items: center;
  border:5px solid yellow;
}