<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profileface.jpg" class="img-fluid profilefacepic">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">Gonzalez Julio</p>
        <p id="titulo">Jr Full Strack Developer</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1 id="acerca-de-mi-titulo">Acerca de mi</h1>
            <p id="acerca-de-mi-detallado">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, maiores. Ad, dolorum, sint sequi id aperiam rerum accusamus possimus quisquam quas velit animi iure a? Repellendus enim minima placeat nam.
            </p>
        </span>
    </div>
</div>