<div class="row">
    <h1 class="title-experiencia">Experiencia Laboral</h1>
    <!-- <div class="col-lg-1"></div> -->
    <div class="col-lg-11">
       
        <ul>
            <li><h2>Trabajo 1</h2> - <h2>años</h2><h3>Cargo</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis eos ducimus earum iure accusantium laboriosam assumenda soluta fuga praesentium excepturi veritatis quos sunt! Qui, distinctio? Et tenetur porro debitis!</p>
       </ul> 
       <ul>
            <li><h2>Trabajo 2</h2> - <h2>años</h2><h3>Cargo</h3></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis eos ducimus earum iure accusantium laboriosam assumenda soluta fuga praesentium excepturi veritatis quos sunt! Qui, distinctio? Et tenetur porro debitis!</p>
       </ul>

    </div>
</div>