<div class="row">
    <h1 id="title-proyectos">Proyectos</h1>
    <div class="container">
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 bloque2">
            <img class="proyect-image img-fluid" src="../../../assets/profileface.jpg">
        </div>
        
        <div class="col-sm-12 col-md-7 col-lg-7 bloque1">
            <h2>Argentina Programa</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Massa tempor nec feugiat nisl. Luctus accumsan tortor posuere ac ut consequat semper viverra. Egestas purus viverra accumsan in. Vestibulum </p>
        </div>
        
        
    </div>

</div>