<div class="row">
    <div class="container">
        <div class="logos-group">
            <img src="../../../assets/argProg.png" class="logoAP">
            <img src="../../../assets/intiMinisterio.png" class="logoAP">
        </div>

        <div class="social-icons-and-button">
            <a href=""><img src="../../../assets/linkin.svg" class="social-icons"></a>
            <button type="button" class="loginbutton btn btn-outline-light">LOGIN</button>
        </div>
        
        
    </div>
</div>