.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logoAP{
    max-width:160px;
    padding: 5px;
}
.social-icons-and-button{
    display: flex;
}
.social-icons{
    width: 35px;
}
.loginbutton{
  border: none;
  padding: 3px 10px;
  border-radius: 10px;
  cursor: pointer;
}

@media(max-width:575px){
    .social-icons-and-button{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}