<div class="row">
    <h1 id="title-hys">Habilidades</h1>
    <h3 class="title-durasyblandas">Duras</h3>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'HTML'" 
        [percent]="85"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'CSS'" 
        [percent]="50"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'JAVASCRIPT'" 
        [percent]="65"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'GITHUB'" 
        [percent]="80"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'JAVA'" 
        [percent]="85"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'C#'" 
        [percent]="80"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'C++'" 
        [percent]="50"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'UNITY'"
        [percent]="90"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div><div class="col-sm-3 col-md-3 col-lg-3 sphereskill">
        <circle-progress
        [title]="'UNREAL'" 
        [percent]="50"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <h3 class="title-durasyblandas">Blandas</h3>
    <div class="col-sm-4 col-md-4 col-lg-4 sphereskill">
        <circle-progress
        [title]="'Trabajo en equipo'" 
        [percent]="95"   
        [radius]="60"
        [titleFontSize]="'0.85em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 sphereskill">
        <circle-progress
        [title]="'Creatividad'" 
        [percent]="75"   
        [radius]="60"
        [titleFontSize]="'0.85em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4 sphereskill">
        <circle-progress
        [title]="'Comunicación'" 
        [percent]="80"   
        [radius]="60"
        [titleFontSize]="'0.85em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
    <h3 class="title-durasyblandas">Idiomas</h3>
    <div class="col-sm-12 col-md-12 col-lg-12 sphereskill">
        <circle-progress
        [title]="'Ingles'" 
        [percent]="85"   
        [radius]="60"
        [titleFontSize]="'1em'"
        [space]= "-10"
        [animationDuration]="200"
        [outerStrokeGradient]="true"
        [outerStrokeWidth]="10"
        [outerStrokeColor]= "'#4882c2'"
        [outerStrokeGradientStopColor]= "'#53a9ff'"
        [innerStrokeColor]= "'#e7e8ea'"
        [innerStrokeWidth]= 10
        [animateTitle]= "true"
        [animationDuration]= "1000"
        [showUnits]= "false"
        [showBackground]= "false"
        [showSubtitle]= "false"
        [startFromZero]= "false"
        ></circle-progress>
    </div>
</div>