<div class="row">
    <h1 class="title-educacion">Educacion</h1>
    <!-- <div class="col-lg-1"></div> -->
    <div class="col-lg-11">
       
        <ul>
            <li><h2>Titulo</h2> - <h2>Institucion</h2>  - <h2>Año</h2></li>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima, corporis eos ducimus earum iure accusantium laboriosam assumenda soluta fuga praesentium excepturi veritatis quos sunt! Qui, distinctio? Et tenetur porro debitis!</p>
        </ul> 
           

    </div>
</div>